.btn-deco {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #3C3100;
  background-color: #D9B300;
  border-radius: 20px;
  background-image: url(../img/icons/deco-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  .transition();
  
  &:hover,
  &:active {
    background-color: rgba(217,179,0,0.7);
    .transition();
  }
}

.btn {
  position: relative;
  z-index: 2;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #3C3100;
  background-color: #D9B300;
  background-image: linear-gradient(104.45deg, rgba(255, 255, 255, 0.4) 1.19%, rgba(255, 255, 255, 0) 100%);
  border-radius: 15px;
  .transition();
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 9px;
    right: 9px;
    top: 19px;
    bottom: -3px;
    background-color: #D9B300;
    opacity: 0.5;
    filter: blur(20px);
    border-radius: 15px;
    .transition();
  }
  
  &:hover,
  &:active {
    background-image: none;
    
    &::before {
      opacity: 0;
      background-image: none;
      .transition();
    }
  }
}

.btn--black {
  color: #fff;
  background-color: #242B33;
  
  &::before {
    background-color: #242B33;
  }
}

.btn--grey {
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(152,172,179,0.2);
  background-image: none;
  
  &::before {
    display: none;
  }
  
  &:hover,
  &:active {
    background-color: rgba(152,172,179,0.4);
    .transition();
  }
}
