.card {
  overflow: hidden;
  
  h1.title {
    margin-top: 0;
    margin-bottom: 33px;
    text-align: left;
  }
  
  .catalog__labels {
    top: 32px;
  }
}

.card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 18px;
}

.card__slider {
  width: 770px;
  max-width: 100%;
}

.card__info {
  position: relative;
  width: 370px;
  max-width: 100%;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 57px;
    left: -70px;
    width: 608px;
    height: 473px;
    background-image: url(../img/icons/deco-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
  }
}

.card__pic {
  position: relative;
}

.card__presence {
  position: absolute;
  z-index: 10;
  top: 22px;
  right: 24px;
  padding-right: 30px;
  font-weight: 600;
  font-size: 12.5px;
  line-height: 1;
  text-transform: uppercase;
  color: #23AC39;
  
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #23AC39;
    opacity: 0.2;
    border-radius: 50%;
  }
  
  &::after {
    right: 5px;
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  
  &--no {
    color: @red;
    
    &::after,
    &::before {
      background-color: @red;
    }
  }
}

.card__hidden {
  display: none;
}

.gallery-top {
  margin-bottom: 20px;
}

.card__slide {
  height: 440px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  img {
    display: block;
    flex: 0 0 auto;
    max-height: 100%;
  }
}

.card__bottom {
  position: relative;
  padding-left: 66px;
  padding-right: 66px;
}

.card__thumb {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 107px;
  padding: 5px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 2px solid #fff;
  overflow: hidden;
  
  img {
    display: block;
    flex: 0 0 auto;
    max-height: 100%;
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  border-color: #98ACB3;
}

.card__prev,
.card__next {
  background-color: rgba(255,255,255,0);
  box-shadow: none;
}

.card__block {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.card__block-wrap {
  padding: 12px 30px;
  padding-bottom: 34px;
}

.card__price {
  margin: 0;
  padding: 40px 30px;
  padding-bottom: 33px;
  font-weight: 800;
  font-size: 36px;
  line-height: 1;
  border: 1px solid rgba(152,172,179,0.1);
}

.card__category {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
  
  a {
    display: block;
    color: @yellow;
    text-decoration: underline;
    
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.card__click {
  width: 100%;
  height: 48px;
  margin-top: 11px;
  font-weight: 700;
  font-size: 18px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255,255,255,0.5) 46.1%, rgba(255, 255, 255, 0.15) 100%);
  border-radius: 24px;
  
  &::before {
    display: none;
  }
}

.card__buy {
  width: 100%;
  height: 48px;
  margin-top: 28px;
  border-radius: 24px;
}

.card__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.card__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  border: 1px solid rgba(152, 172, 179, 0.3);
  border-radius: 20px;
}

.card__num {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  background: #98ACB3;
  border-radius: 21px;
  .transition();
  
  &:hover,
  &:active {
    opacity: 0.7;
    .transition();
  }
}

.card__value {
  width: 120px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(255,255,255,0);
}

.card__social {
  padding: 20px;
  padding-top: 15px;
}
