.menu {
  background-color: #fff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.menu__wrap {
  display: flex;
  justify-content: space-between;
}

.menu__btn {
  display: none;
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu__item {
  &--active .menu__link {
    border-color: @yellow;
  }
  
  &:hover .menu__link {
    color: @yellow;
    .transition();
  }
}

.menu__link {
  display: block;
  padding: 23px 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.01em;
  border-bottom: 2px solid #fff;
  .transition();
}
